/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color:rgb(32, 32, 32);
    font-family: 'Poiret One', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0rem 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 10px 14px #a3a3a3;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #6394ed;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: #ffffff;
}

p {
    color: #ffffff;
}

#menu {
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 2px;
    padding-right: 1rem;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 2px dashed #6394ed;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #6394ed;
}

/* Hero section */
#hero {
    height: 88vh;
    width: 100%;
    background: url("../images/pexels-pixabay-247599.jpg") no-repeat center center/cover;
    position: relative;
 
}

#intro-text {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(99, 148, 237, .5);
    font-size: 125%;
    position: absolute;
    top: 50px;
    left: 20px;
}

/* Top tips */

#tips-hero {
    height: 120vh;
    width: 100vw;
    background: url("../images/pexels-mahima-518693-1250260.jpg") no-repeat center center/cover;
    position: relative;
}

#tips-text {
    position: absolute;
    font-size: 125%;
    background-color: rgba(99, 148, 237, .5);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    left: 20px;
    top: 40px;
    line-height: 50px;
}

table {
	width: 60%;
}

tr {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    text-align: left;
    color: #ffffff;
    font-size: small;
}


/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #6394ed;
}

/* Media query: tablets and larger (768px and up) copy from love-running project */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

       /* Main content */
       main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    /* Hero */
    #cover-text {
        width: 300px;
        right: 50px;
    }

}